<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.citic.demo.mapper.GoodsInfoMapper">
    <resultMap id="BaseResultMap" type="com.citic.demo.entity.GoodsInfo">
        <id column="goods_id" property="goodId"/>
        <result column="goods_name" property="goodName"/>
        <result column="des" property="goodDescription"/>
        <result column="price" property="goodPrice"/>
        <result column="goods_photo" property="goodImgSrc"/>
        <result column="goods_cate" property="goodCate"/>
        <result column="goods_storage" property="count"/>
    </resultMap>

    <sql id="IF_Base_Column_List">
        <if test=" goodId != null">
            goods_id,
        </if>
        <if test=" goodName != null">
            goods_name,
        </if>
        <if test=" goodDescription != null">
            des,
        </if>
        <if test=" goodPrice != null">
            price,
        </if>
        <if test=" goodImgSrc != null">
            goods_photo,
        </if>
        <if test=" goodCate != null">
            goods_cate,
        </if>
        <if test=" count != null">
            goods_storage,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" goodId != null">
            #{goodId },
        </if>
        <if test=" goodName != null">
            #{goodName },
        </if>
        <if test=" goodDescription != null">
            #{goodDescription },
        </if>
        <if test=" goodPrice != null">
            #{goodPrice },
        </if>
        <if test=" goodImgSrc != null">
            #{goodImgSrc },
        </if>
        <if test=" goodCate != null">
            #{goodCate },
        </if>
        <if test=" count != null">
            #{count },
        </if>
    </sql>

    <select id="query" parameterType="com.citic.demo.query.GoodsQuery" resultMap="BaseResultMap">
        select
        goods.goods_id as goods_id,
        goods.goods_name as goods_name,
        goods.des as des,
        goods.price as price,
        goods.goods_photo as goods_photo,
        goods.goods_cate as goods_cate,
        goods.goods_storage as goods_storage
        from zx_goodsinfo goods
        where 1 = 1
        <if test=" mult != null ">
            and goods.goods_name like CONCAT('%',replace(replace(#{mult},'%','\%'),'_','\_'),'%')
        </if>
        <if test=" goodCate != null and goodCate.size() > 0 ">
            and goods.goods_cate in
            <foreach item="item" index="index" collection="goodCate"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>


    <select id="queryGoodsInfoById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        goods.goods_id as goods_id,
        goods.goods_name as goods_name,
        goods.des as des,
        goods.price as price,
        goods.goods_photo as goods_photo,
        goods.goods_cate as goods_cate,
        goods.goods_storage as goods_storage
        from zx_goodsinfo goods
        where 1 = 1
        <if test="goodId != null">
            and goods.goods_id = #{goodId }
        </if>
    </select>


    <insert id="insert" parameterType="com.citic.demo.entity.GoodsInfo" useGeneratedKeys="true">
        insert into zx_goodsinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>


    <update id="update" parameterType="com.citic.demo.entity.GoodsInfo">
        update zx_goodsinfo
        <trim prefix="SET" suffixOverrides=",">
            <if test=" goodName != null">
                goods_name = #{goodName },
            </if>
            <if test=" goodDescription != null">
                des = #{goodDescription },
            </if>
            <if test=" goodPrice != null">
                price = #{goodPrice },
            </if>
            <if test=" goodImgSrc != null">
                goods_photo = #{goodImgSrc },
            </if>
            <if test=" goodCate != null">
                goods_cate = #{goodCate },
            </if>
            <if test=" count != null">
                goods_storage = #{count }
            </if>
        </trim>
        where goods_id = #{goodId}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete zx_goodsinfo where goods_id = #{goodId}
    </delete>


    <select id="queryGoodsCount" parameterType="com.citic.demo.query.GoodsQuery" resultType="java.lang.Integer">
        select
        count(1)
        from zx_goodsinfo
        where 1=1
        <if test=" mult != null ">
            and goods_name like CONCAT('%',replace(replace(#{mult},'%','\%'),'_','\_'),'%')
        </if>
        <if test=" goodCate != null and goodCate.size() > 0 ">
            and goods_cate in
            <foreach item="item" index="index" collection="goodCate"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>


    <select id="queryGoods" parameterType="com.citic.demo.query.GoodsQuery" resultMap="BaseResultMap">
        select
        goods.goods_id as goods_id,
        goods.goods_name as goods_name,
        goods.des as des,
        goods.price as price,
        goods.goods_photo as goods_photo,
        goods.goods_cate as goods_cate,
        goods.goods_storage as goods_storage
        from zx_goodsinfo goods
        where 1 = 1
        <if test=" mult != null ">
            and goods.goods_name like CONCAT('%',replace(replace(#{mult},'%','\%'),'_','\_'),'%')
        </if>
        <if test=" goodCate != null and goodCate.size() > 0 ">
            and goods.goods_cate in
            <foreach item="item" index="index" collection="goodCate"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="pageSize != -1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>

</mapper>