<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.citic.demo.mapper.OrderInfoMapper">
    <resultMap id="BaseResultMap" type="com.citic.demo.entity.OrderInfo">
        <id column="order_id" property="orderId"/>
        <result column="user_id" property="userId"/>
        <result column="goods_id" property="goodId"/>
        <result column="goods_name" property="goodName"/>
        <result column="goods_num" property="goodNum"/>
        <result column="order_time" property="orderTime"/>
        <result column="order_state" property="orderStatus"/>
        <result column="pay" property="pay"/>
        <result column="real_pay" property="realPay"/>
        <result column="pay_time" property="payTime"/>
        <result column="sale_price" property="salePrice"/>
        <result column="saleway_type" property="saleway"/>
        <result column="pay_way" property="payWay"/>
    </resultMap>


    <sql id="IF_Base_Column_List">
        <if test=" orderId != null">
            order_id,
        </if>
        <if test=" userId != null">
            user_id,
        </if>
        <if test=" goodId != null">
            goods_id,
        </if>
        <if test=" goodName != null">
            goods_name,
        </if>
        <if test=" goodNum != null">
            goods_num,
        </if>
        <if test=" orderTime != null">
            order_time,
        </if>
        <if test=" orderStatus != null">
            order_state,
        </if>
        <if test=" pay != null">
            pay,
        </if>
        <if test=" realPay != null">
            real_pay,
        </if>
        <if test=" payTime != null">
            pay_time,
        </if>
        <if test=" salePrice != null">
            sale_price,
        </if>
        <if test=" saleway != null">
            saleway_type,
        </if>
        <if test=" payWay != null">
            pay_way,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" orderId != null">
            #{orderId},
        </if>
        <if test=" userId != null">
            #{userId},
        </if>
        <if test=" goodId != null">
            #{goodId},
        </if>
        <if test=" goodName != null">
            #{goodName},
        </if>
        <if test=" goodNum != null">
            #{goodNum},
        </if>
        <if test=" orderTime != null">
            #{orderTime},
        </if>
        <if test=" orderStatus != null">
            #{orderStatus},
        </if>
        <if test=" pay != null">
            #{pay},
        </if>
        <if test=" realPay != null">
            #{realPay},
        </if>
        <if test=" payTime != null">
            #{payTime},
        </if>
        <if test=" salePrice != null">
            #{salePrice},
        </if>
        <if test=" saleway != null">
            #{saleway},
        </if>
        <if test=" payWay != null">
            #{payWay},
        </if>
    </sql>


    <select id="queryOrderList" parameterType="com.citic.demo.query.OrderInfoQuery" resultType="com.citic.demo.response.OrderResponse">
        select
        orderinfo.order_id as orderId,
        orderinfo.user_id as userId,
        orderinfo.goods_id as goodId,
        orderinfo.goods_name as goodName,
        FROM_UNIXTIME(orderinfo.order_time,'%Y-%m-%d %H:%i:%s') as orderTime,
        goodsinfo.goods_photo as goodImgSrc,
        goodsinfo.price as goodPrice,
        orderinfo.goods_num as goodNumber,
        orderinfo.order_state as orderStatus,
        orderinfo.pay as orderAmount,
        orderinfo.real_pay as realPay,
        FROM_UNIXTIME(orderinfo.pay_time,'%Y-%m-%d %H:%i:%s') as payTime,
        orderinfo.pay_way as payWay
        from zx_orderinfo orderinfo
        left join zx_goodsinfo goodsinfo
        on orderinfo.goods_id = goodsinfo.goods_id
        where 1 = 1
        <if test=" userId != null">
            and orderinfo.user_id = #{userId}
        </if>
        <if test="pageSize != -1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>

    <select id="queryOrderCount" parameterType="com.citic.demo.query.OrderInfoQuery" resultType="java.lang.Integer">
        select
        count(1)
        from zx_orderinfo orderinfo
        where 1 = 1
        <if test=" userId != null">
            and orderinfo.user_id = #{userId}
        </if>
        <if test="pageSize != -1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>


    <select id="queryOrderById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        orderinfo.order_id as order_id,
        orderinfo.user_id as user_id,
        orderinfo.goods_id as goods_id,
        orderinfo.goods_name as goods_name,
        orderinfo.goods_num as goods_num,
        orderinfo.order_time as order_time,
        orderinfo.order_state as order_state,
        orderinfo.pay as pay,
        orderinfo.real_pay as real_pay,
        orderinfo.pay_time as pay_time,
        orderinfo.sale_price as sale_price,
        orderinfo.saleway_type as saleway_type,
        orderinfo.pay_way as payWay
        from zx_orderinfo orderinfo
        where 1 = 1
        <if test="orderId != null">
            and orderinfo.order_id = #{orderId }
        </if>
    </select>


    <insert id="saveOrder" parameterType="com.citic.demo.entity.OrderInfo" useGeneratedKeys="true"
            keyProperty="orderId"
            keyColumn="orderId">
        insert into zx_orderinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>


    <select id="querySaleWays" resultType="com.citic.demo.entity.SaleWay">
        select
        saleway.saleway_id as salewayId,
        saleway.saleway_type as salewayType,
        saleway.sub_type as subType,
        saleway.saleway_des as salewayDes,
        saleway.saleway_scale as salewayScale,
        saleway.judge_price as judgePrice,
        saleway.saleway_use
        from zx_saleway saleway
        where
        1 = 1
        <if test="salewayType != null">
            and saleway.saleway_type = #{salewayType}
        </if>
        <if test="subType != null">
            and saleway.sub_type = #{subType}
        </if>
        <if test="salewayUse != null">
            saleway.saleway_use = #{salewayUse}
        </if>
    </select>

    <update id="updateTickets" parameterType="java.util.List">
        update zx_tickets ticket
        <foreach item="item" collection="tickets" separator=";">
            set ticket.tickets_num = #{item.ticketsNum}
            where
            ticket.tickets_id = #{item.ticketsId}
        </foreach>

    </update>


    <select id="queryTickets" parameterType="java.lang.Integer" resultType="com.citic.demo.entity.Tickets">
        select
        ticket.tickets_id as ticketsId,
        ticket.user_id as userId,
        ticket.salary_id as salaryId,
        ticket.tickets_type as ticketsType,
        ticket.sub_type as subType,
        ticket.tickets_num as ticketsNum
        from zx_tickets ticket
        where ticket.user_id = #{id}
    </select>


    <update id="updateOrder" parameterType="com.citic.demo.entity.OrderInfo">
        update zx_orderinfo
        <trim prefix="SET" suffixOverrides=",">
            <if test=" goodNum != null">
                goods_num = #{goodNum },
            </if>
            <if test=" orderStatus != null">
                order_state = #{orderStatus },
            </if>
            <if test=" pay != null">
                pay = #{pay },
            </if>
            <if test=" realPay != null">
                real_pay = #{realPay },
            </if>
            <if test=" payTime != null">
                pay_time = #{payTime },
            </if>
            <if test=" saleway != null">
                saleway_type = #{saleway },
            </if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteOrder" parameterType="java.lang.Integer">
        delete from zx_orderinfo where order_id = #{orderId}
    </delete>


    <select id="querySaleWay" parameterType="com.citic.demo.entity.PriceHistory" resultType="com.citic.demo.entity.SaleWay">
        select
        saleway.saleway_id as salewayId,
        saleway.saleway_type as salewayType,
        saleway.sub_type as subType,
        saleway.saleway_des as salewayDes,
        saleway.saleway_scale as salewayScale,
        saleway.judge_price as judgePrice,
        saleway.saleway_use as salewayUse
        from zx_saleway saleway
        where 1 = 1
        <if test=" salaryId != null">
            and saleway.saleway_id = #{salaryId}
        </if>
        <if test=" salaryType != null">
            and saleway.saleway_type = #{salaryType}
        </if>
        <if test=" subType != null">
            and saleway.sub_type = #{subType}
        </if>
    </select>

</mapper>