<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citic.demo.mapper.SaleWayMapper">
  <resultMap id="BaseResultMap" type="com.citic.demo.entity.SaleWay">
    <id column="saleway_id" jdbcType="INTEGER" property="salewayId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="saleway_type" jdbcType="INTEGER" property="salewayType" />
    <result column="saleway_des" jdbcType="VARCHAR" property="salewayDes" />
    <result column="saleway_scale" jdbcType="DECIMAL" property="salewayScale" />
    <result column="saleway_use" jdbcType="INTEGER" property="salewayUse" />
  </resultMap>
  <sql id="Base_Column_List">
    saleway_id, user_id, saleway_type, saleway_des, saleway_scale, saleway_use
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zx_saleway
    where saleway_id = #{salewayId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zx_saleway
    where saleway_id = #{salewayId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.citic.demo.entity.SaleWay">
    insert into zx_saleway (saleway_id, user_id, saleway_type, 
      saleway_des, saleway_scale, saleway_use
      )
    values (#{salewayId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{salewayType,jdbcType=INTEGER}, 
      #{salewayDes,jdbcType=VARCHAR}, #{salewayScale,jdbcType=DECIMAL}, #{salewayUse,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.citic.demo.entity.SaleWay">
    insert into zx_saleway
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="salewayId != null">
        saleway_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="salewayType != null">
        saleway_type,
      </if>
      <if test="salewayDes != null">
        saleway_des,
      </if>
      <if test="salewayScale != null">
        saleway_scale,
      </if>
      <if test="salewayUse != null">
        saleway_use,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="salewayId != null">
        #{salewayId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="salewayType != null">
        #{salewayType,jdbcType=INTEGER},
      </if>
      <if test="salewayDes != null">
        #{salewayDes,jdbcType=VARCHAR},
      </if>
      <if test="salewayScale != null">
        #{salewayScale,jdbcType=DECIMAL},
      </if>
      <if test="salewayUse != null">
        #{salewayUse,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.citic.demo.entity.SaleWay">
    update zx_saleway
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="salewayType != null">
        saleway_type = #{salewayType,jdbcType=INTEGER},
      </if>
      <if test="salewayDes != null">
        saleway_des = #{salewayDes,jdbcType=VARCHAR},
      </if>
      <if test="salewayScale != null">
        saleway_scale = #{salewayScale,jdbcType=DECIMAL},
      </if>
      <if test="salewayUse != null">
        saleway_use = #{salewayUse,jdbcType=INTEGER},
      </if>
    </set>
    where saleway_id = #{salewayId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.citic.demo.entity.SaleWay">
    update zx_saleway
    set user_id = #{userId,jdbcType=INTEGER},
      saleway_type = #{salewayType,jdbcType=INTEGER},
      saleway_des = #{salewayDes,jdbcType=VARCHAR},
      saleway_scale = #{salewayScale,jdbcType=DECIMAL},
      saleway_use = #{salewayUse,jdbcType=INTEGER}
    where saleway_id = #{salewayId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.citic.demo.entity.SaleWay">
    <id column="saleway_id" jdbcType="INTEGER" property="salewayId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="saleway_type" jdbcType="INTEGER" property="salewayType" />
    <result column="saleway_des" jdbcType="VARCHAR" property="salewayDes" />
    <result column="saleway_scale" jdbcType="DECIMAL" property="salewayScale" />
    <result column="saleway_use" jdbcType="INTEGER" property="salewayUse" />
  </resultMap>
  <sql id="Base_Column_List">
    saleway_id, user_id, saleway_type, saleway_des, saleway_scale, saleway_use
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zx_saleway
    where saleway_id = #{salewayId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zx_saleway
    where saleway_id = #{salewayId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.citic.demo.entity.SaleWay">
    insert into zx_saleway (saleway_id, user_id, saleway_type, 
      saleway_des, saleway_scale, saleway_use
      )
    values (#{salewayId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{salewayType,jdbcType=INTEGER}, 
      #{salewayDes,jdbcType=VARCHAR}, #{salewayScale,jdbcType=DECIMAL}, #{salewayUse,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.citic.demo.entity.SaleWay">
    insert into zx_saleway
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="salewayId != null">
        saleway_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="salewayType != null">
        saleway_type,
      </if>
      <if test="salewayDes != null">
        saleway_des,
      </if>
      <if test="salewayScale != null">
        saleway_scale,
      </if>
      <if test="salewayUse != null">
        saleway_use,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="salewayId != null">
        #{salewayId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="salewayType != null">
        #{salewayType,jdbcType=INTEGER},
      </if>
      <if test="salewayDes != null">
        #{salewayDes,jdbcType=VARCHAR},
      </if>
      <if test="salewayScale != null">
        #{salewayScale,jdbcType=DECIMAL},
      </if>
      <if test="salewayUse != null">
        #{salewayUse,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.citic.demo.entity.SaleWay">
    update zx_saleway
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="salewayType != null">
        saleway_type = #{salewayType,jdbcType=INTEGER},
      </if>
      <if test="salewayDes != null">
        saleway_des = #{salewayDes,jdbcType=VARCHAR},
      </if>
      <if test="salewayScale != null">
        saleway_scale = #{salewayScale,jdbcType=DECIMAL},
      </if>
      <if test="salewayUse != null">
        saleway_use = #{salewayUse,jdbcType=INTEGER},
      </if>
    </set>
    where saleway_id = #{salewayId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.citic.demo.entity.SaleWay">
    update zx_saleway
    set user_id = #{userId,jdbcType=INTEGER},
      saleway_type = #{salewayType,jdbcType=INTEGER},
      saleway_des = #{salewayDes,jdbcType=VARCHAR},
      saleway_scale = #{salewayScale,jdbcType=DECIMAL},
      saleway_use = #{salewayUse,jdbcType=INTEGER}
    where saleway_id = #{salewayId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.citic.demo.entity.SaleWay">
    <id column="saleway_id" jdbcType="INTEGER" property="salewayId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="saleway_type" jdbcType="INTEGER" property="salewayType" />
    <result column="saleway_des" jdbcType="VARCHAR" property="salewayDes" />
    <result column="saleway_scale" jdbcType="DECIMAL" property="salewayScale" />
    <result column="saleway_use" jdbcType="INTEGER" property="salewayUse" />
  </resultMap>
  <sql id="Base_Column_List">
    saleway_id, user_id, saleway_type, saleway_des, saleway_scale, saleway_use
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zx_saleway
    where saleway_id = #{salewayId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zx_saleway
    where saleway_id = #{salewayId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.citic.demo.entity.SaleWay">
    insert into zx_saleway (saleway_id, user_id, saleway_type, 
      saleway_des, saleway_scale, saleway_use
      )
    values (#{salewayId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{salewayType,jdbcType=INTEGER}, 
      #{salewayDes,jdbcType=VARCHAR}, #{salewayScale,jdbcType=DECIMAL}, #{salewayUse,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.citic.demo.entity.SaleWay">
    insert into zx_saleway
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="salewayId != null">
        saleway_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="salewayType != null">
        saleway_type,
      </if>
      <if test="salewayDes != null">
        saleway_des,
      </if>
      <if test="salewayScale != null">
        saleway_scale,
      </if>
      <if test="salewayUse != null">
        saleway_use,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="salewayId != null">
        #{salewayId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="salewayType != null">
        #{salewayType,jdbcType=INTEGER},
      </if>
      <if test="salewayDes != null">
        #{salewayDes,jdbcType=VARCHAR},
      </if>
      <if test="salewayScale != null">
        #{salewayScale,jdbcType=DECIMAL},
      </if>
      <if test="salewayUse != null">
        #{salewayUse,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.citic.demo.entity.SaleWay">
    update zx_saleway
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="salewayType != null">
        saleway_type = #{salewayType,jdbcType=INTEGER},
      </if>
      <if test="salewayDes != null">
        saleway_des = #{salewayDes,jdbcType=VARCHAR},
      </if>
      <if test="salewayScale != null">
        saleway_scale = #{salewayScale,jdbcType=DECIMAL},
      </if>
      <if test="salewayUse != null">
        saleway_use = #{salewayUse,jdbcType=INTEGER},
      </if>
    </set>
    where saleway_id = #{salewayId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.citic.demo.entity.SaleWay">
    update zx_saleway
    set user_id = #{userId,jdbcType=INTEGER},
      saleway_type = #{salewayType,jdbcType=INTEGER},
      saleway_des = #{salewayDes,jdbcType=VARCHAR},
      saleway_scale = #{salewayScale,jdbcType=DECIMAL},
      saleway_use = #{salewayUse,jdbcType=INTEGER}
    where saleway_id = #{salewayId,jdbcType=INTEGER}
  </update>
</mapper>