<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.citic.demo.mapper.ScoreMapper">
    <resultMap id="BaseResultMap" type="com.citic.demo.entity.Score">
        <id column="score_id" property="scoreId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="score_sum" property="scoreSum" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    score_id, user_id, score_sum
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from zx_score
        where score_id = #{scoreId,jdbcType=INTEGER}
    </select>
    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from zx_score
        where user_id = #{userid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zx_score
    where score_id = #{scoreId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.citic.demo.entity.Score">
    insert into zx_score (user_id, score_sum
      )
    values (#{userId,jdbcType=INTEGER}, #{scoreSum,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.citic.demo.entity.Score">
        insert into zx_score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="scoreId != null">
                score_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="scoreSum != null">
                score_sum,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="scoreId != null">
                #{scoreId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="scoreSum != null">
                #{scoreSum,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.citic.demo.entity.Score">
        update zx_score
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="scoreSum != null">
                score_sum = #{scoreSum,jdbcType=INTEGER},
            </if>
        </set>
        where score_id = #{scoreId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.citic.demo.entity.Score">
    update zx_score
    set user_id = #{userId,jdbcType=INTEGER},
      score_sum = #{scoreSum,jdbcType=INTEGER}
    where score_id = #{scoreId,jdbcType=INTEGER}
  </update>
</mapper>