<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.citic.demo.mapper.SystemLogMapper" >
  <resultMap id="BaseResultMap" type="com.citic.demo.entity.SystemLog" >
    <id column="log_id" property="logId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="op_time" property="opTime" jdbcType="TIMESTAMP" />
    <result column="op_way" property="opWay" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    log_id, user_id, op_time, op_way
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zx_log
    where log_id = #{logId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zx_log
    where log_id = #{logId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.citic.demo.entity.SystemLog" >
    insert into zx_log (log_id, user_id, op_time, 
      op_way)
    values (#{logId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{opTime,jdbcType=TIMESTAMP}, 
      #{opWay,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.citic.demo.entity.SystemLog" >
    insert into zx_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        log_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="opTime != null" >
        op_time,
      </if>
      <if test="opWay != null" >
        op_way,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="opTime != null" >
        #{opTime,jdbcType=TIMESTAMP},
      </if>
      <if test="opWay != null" >
        #{opWay,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.citic.demo.entity.SystemLog" >
    update zx_log
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="opTime != null" >
        op_time = #{opTime,jdbcType=TIMESTAMP},
      </if>
      <if test="opWay != null" >
        op_way = #{opWay,jdbcType=VARCHAR},
      </if>
    </set>
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.citic.demo.entity.SystemLog" >
    update zx_log
    set user_id = #{userId,jdbcType=INTEGER},
      op_time = #{opTime,jdbcType=TIMESTAMP},
      op_way = #{opWay,jdbcType=VARCHAR}
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
</mapper>