<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.citic.demo.mapper.TicketsMapper" >
  <resultMap id="BaseResultMap" type="com.citic.demo.entity.Tickets" >
    <id column="tickets_id" property="ticketsId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="tickets_type" property="ticketsType" jdbcType="VARCHAR" />
    <result column="tickets_num" property="ticketsNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    tickets_id, user_id, tickets_type, tickets_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zx_tickets
    where tickets_id = #{ticketsId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from zx_tickets
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zx_tickets
    where tickets_id = #{ticketsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.citic.demo.entity.Tickets" >
    insert into zx_tickets (tickets_id, user_id, tickets_type,
      tickets_num)
    values (#{ticketsId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{ticketsType,jdbcType=VARCHAR},
      #{ticketsNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.citic.demo.entity.Tickets" >
    insert into zx_tickets
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ticketsId != null" >
        tickets_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="ticketsType != null" >
        tickets_type,
      </if>
      <if test="ticketsNum != null" >
        tickets_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ticketsId != null" >
        #{ticketsId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="ticketsType != null" >
        #{ticketsType,jdbcType=VARCHAR},
      </if>
      <if test="ticketsNum != null" >
        #{ticketsNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.citic.demo.entity.Tickets" >
    update zx_tickets
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="ticketsType != null" >
        tickets_type = #{ticketsType,jdbcType=VARCHAR},
      </if>
      <if test="ticketsNum != null" >
        tickets_num = #{ticketsNum,jdbcType=INTEGER},
      </if>
    </set>
    where tickets_id = #{ticketsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.citic.demo.entity.Tickets" >
    update zx_tickets
    set user_id = #{userId,jdbcType=INTEGER},
      tickets_type = #{ticketsType,jdbcType=VARCHAR},
      tickets_num = #{ticketsNum,jdbcType=INTEGER}
    where tickets_id = #{ticketsId,jdbcType=INTEGER}
  </update>
</mapper>